html {
    box-sizing: content-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    color: black;
    font-size: 16px;
    font-family: 'Pathway Gothic One', sans-serif;
}

.container {
    background: url("../img/page-bg.png") no-repeat ;
    width: 100%;
    background-size: cover;
}

.header {
    padding: 60px 80px;  
}

.nav__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
}

.nav__list-item {
    padding: 25px;
    text-transform: uppercase;
    font-size: 25px;
}

.nav__list-item-link {
    text-decoration-line: none;
    color: #fff;
    font-size: inherit;
    cursor: pointer;
}

.nav__list-item-link:hover {
    color: rgba(38, 50, 150, 0.72);
}

.logo {
    background-color: #fff;
    border-radius: 50%;
    height: 140px;
    width: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    font-size: 60px;
    font-family: 'Dorsa', sans-serif;
}

.gallery {
    background-color: #fff;
    margin-left: 50px;
    height: auto;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

.gallery__title {
    color: #263555;
    font-size: 30px;
    padding-left: 62px;
    padding-top: 92px;
    padding-bottom: 49px;
    text-transform: uppercase;
}

.gallery__list {
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
    padding: 0px 60px 140px 60px;
}

.gallery__list-img{
    display: inline-block;
}
